body{
    background-color: #352f5b;
    color: rgba(255, 255, 255, 0.871)
}

.container{
    max-width: 400px;
    color: white;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.todos li{
    background: #423a6f;
    color: white;
}
.delete {
    cursor: pointer;
}